[submodule "fluency/third_party/llama.cpp"]
	path = fluency/third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
	shallow = true
[submodule "fluency/third_party/whisper.cpp"]
	path = fluency/third_party/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp
	shallow = true
[submodule "fluency/third_party/kleidiai"]
	path = fluency/third_party/kleidiai
	url = https://github.com/ARM-software/kleidiai
	shallow = true
[submodule "fluency/third_party/OpenCL-Headers"]
	path = fluency/third_party/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
	shallow = true
[submodule "fluency/third_party/OpenCL-ICD-Loader"]
	path = fluency/third_party/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader
	shallow = true
